@using SnowmobileShop.Models;
@model IEnumerable<Order>
@foreach (var order in Model)
{
    <ul class="list-group">
        <li class="list-group-item">
            Your order id: @order.Id
        </li>
        @foreach (var line in order.ProductLines)
        {
            <li class="list-group-item">
                Name: @line.Product.Name
            </li>
            <li class="list-group-item">
                Price: @line.Product.Price <br />
                Quantity: @line.Quantity <br />
                Total: @((line.Product.Price * line.Quantity).ToString("c")) 
            </li>
            <li class="list-group-item">
                Date: (@line.RentalTime.RentalDay.Date) @line.RentalTime.From - @line.RentalTime.To
            </li>
        }
    </ul>
}
