@using SnowmobileShop.Models;
@model Order

<ul class="list-group">
    <li class="list-group-item">
        Your order id: @Model.Id
    </li>
    <li class="list-group-item">
        Forename: @Model.Forename
    </li>
    <li class="list-group-item">
        Surname: @Model.Surname
    </li>
    <li class="list-group-item">
        Email: @Model.Email
    </li>
    <li class="list-group-item">
        Phone: @Model.PhoneNumber
    </li>
</ul>
